@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&family=Merriweather:wght@700&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-family: "IBM Plex Sans", sans-serif;
  color: #fff;
}

fieldset {
  border: none;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  margin-bottom: 32px;
}

h1,
h2,
h3 {
  font-family: "Merriweather", serif;
}

h1 {
  font-size: 32px;
}
h2 {
  margin-bottom: 12px;
}

.fw-400 {
  font-weight: 400;
}

.form-header {
  margin-bottom: 54px;
}

.form-component {
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
  min-height: 100vh;
  align-items: center;
}

.container {
  margin: 0 0 0 auto;
  justify-self: center;
}

.left-part-width {
  max-width: 547px;
}

.right-part-width {
  max-width: 218px;
}

.form-section {
  background-color: #23252f;
  width: 60%;
  padding: 20px 90px;
  position: relative;
}
.form-section::before {
  content: "";
  background-color: #23252f;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  /* margin-left: -50%; */
  transform: translateX(-70%);
  z-index: -1;
}

.details-section {
  width: 40%;
}

.form-header {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-widget > * {
  display: block;
}

input[name],
textarea,
select {
  width: 100%;
  background-color: transparent;
  border: 1px solid #464856;
  padding: 17px 20px;
  color: #fff;
  resize: none;
}
select {
}

.textarea {
  grid-column: 1 / -1;
}

.btn {
  background-color: #fff;
  padding: 23px 53px;
  color: black;
  font-family: inherit;
  font-weight: 600;
  font-size: 18px;
  border: none;
}

.details-section {
  background-color: #2b2d38;
  width: 40%;
  display: flex;
  position: relative;
}

.details-section::before {
  content: "";
  background-color: #2b2d38;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 40%;
  margin-left: -50%;
  transform: translateX(-50%);
  z-index: 1;
}
